<configuration>
    <appSettings>
        <add key="UserDataPath" value="C:\Users\rebhorn\source\repos\GameTimeLimiter\GameTimeLimiter\UserData.json" />
        <add key="GameDataPath" value="C:\Users\rebhorn\source\repos\GameTimeLimiter\GameTimeLimiter\GameData.json" />
        <add key="DailyReset" value="12" />
    </appSettings>
</configuration>  
