<configuration>
    <appSettings>
        <add key="DailyCodesPath" value="......\GameTimeLimiter\GameTimeLimiter\DailyCodes.Json" />
        <add key="EmailDataPath" value="......\GameTimeLimiter\GameTimeLimiter\EmailData.Json" />
        <add key="GameDataPath" value="......\GameTimeLimiter\GameTimeLimiter\GameData.Json" />
        <add key="UserDataPath" value="......\GameTimeLimiter\GameTimeLimiter\UserData.Json" />

    </appSettings>
</configuration>

