<configuration>
    <appSettings>
        <add key="UserDataPath" value="UserData.json" />
        <add key="GameDataPath" value="GameData.json" />
        <add key="EmailDataPath" value="EmailData.json" />
        <add key="DailyCodesPath" value="DailyCodes.json" />
        <add key="DailyReset" value="12" />
    </appSettings>
</configuration>
