<configuration>
    <appSettings>
        <add key="UserDataPath" value="..\\..\\GameTimeLimiter\\GameTimeLimiter\\UserData.json" />
        <add key="GameDataPath" value="..\\..\\GameTimeLimiter\\GameTimeLimiter\\GameData.json" />
        <add key="EmailDataPath" value="..\\..\\GameTimeLimiter\\GameTimeLimiter\\EmailData.json" />
        <add key="DailyReset" value="12" />
    </appSettings>
</configuration>
